body{
  background-color: #EEEEEE;
}
ul {
    font-family: sans-serif;
    list-style-type: none;
    margin.left: 600px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-align: center;
}

li {
    float: left;
}

.logout {
    float: right;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #000000;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

div.content{
  font-family: sans-serif;
  background-color: white;
  color:#3E3C3C;
  margin-left: 350px;
  margin-top:  50px;
  width:1200px;
  height:400px;
  padding:20px;
}

div.bottom{
  font-family: sans-serif;
  background-color: black;
  color:#3E3C3C;
  padding:20px;
  margin-top: 50px;
}

table {
color: #333;
font-family: Helvetica, Arial, sans-serif;
width: 1200px;
border-collapse:
collapse; border-spacing: 0;
}

td, th {
border: 1px solid transparent; /* No more visible border */
height: 30px;
transition: all 0.3s; /* Simple transition for hover effect */
}

th {
background: #F23333; /* Darken header a bit */
font-weight: bold;
}

td {
background: #DFDFDF;
text-align: center;
}

h1 {margin:15px auto 10px auto; padding:0; font-size:2.4em; color:#2a7a9a; letter-spacing:-1px; line-height:1.2em;}

